@import "../../styles/helper";

.titlePlanet {
  background-color: #5592c6;
  color: $PRed;
  font-size: 35px;
  text-transform: uppercase;
}

.overview {
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  text-align: justify;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity .4s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


