@import "../../styles/helper";

.titlePlanet {
  background-color: #5592c6;
  color: $PRed;
  margin-bottom: 30px;
  font-size: 35px;
  text-transform: uppercase;
}

.overview {
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  text-align: justify;
}

.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 22px;
  transition: all .6s;

  i {
    font-size: 33px;
    right: 30px;
    transition: all .6s;

    &.active {
      transform: rotate(180deg);
    }
  }

  &.active {
    background-color: $PRed;
    color: black;

    i {
      color: white;
    }
  }

  &:not(.active) {
    margin-bottom: 25px;
  }

}

.panel {
  padding: 0 18px;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

