@import "../../styles/helper";

.title {
  background-color: black;
  border-radius: 0.25rem;
  color: white;
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
}

.reference {
  background-color: grey;
  font-size: 20px;
  border-radius: 0.25rem;
  margin-bottom: 20px;
}
