<div class="container-fluid introduction">
  <div class="row">
    <div class="col-md-12">
      <dl>
        <dt>
          A little introduction need to be done
        </dt>
        <dd>
          This is my first application developed with Cordova
        </dd>
        <dt>
          The subject ?
        </dt>
        <dd>
          Of course the solar system
          I have always been interested in astronomy and I thought it would be wise to make an application in relation
          to it.
        </dd>
        <dt>
          How it's made
        </dt>
        <dd>
          The entire application is based on a JSON file
          That I've been dealing with information I've been able to find on the net.

          And i used the framework vueJS
        </dd>
        <dt>
          What is all about ?
        </dt>
        <dd>
          The application will deal with the subjects of the planets of our solar system as we know it today
          You can find some information about our neighbouring planets there
        </dd>
      </dl>
    </div>
  </div>
</div>
