<nav class="bottom-nav">
  <a
    class="bottom-nav__action bottom-nav__action--active"
    href="/"
    @click="activeTabs($event.target)"
  >
    <i class="fa fa-home"></i> <span class="bottom-nav__label">Home</span>
  </a>

  <a
    class="bottom-nav__action"
    href="planets"
    @click="activeTabs($event.target)"
  >
    <i class="fa fa-home"></i> <span class="bottom-nav__label">Planets</span>
  </a>

  <a class="bottom-nav__action" href="#" @click="activeTabs($event.target)">
    <i class="fa fa-home"></i> <span class="bottom-nav__label">Home</span>
  </a>
</nav>
