@import "~material-bottom-nav";

.bottom-nav {
  @include bottom-nav(
    $background-color: #000,
    $active-color: #ffffff,
    $inactive-color: #e0e0e0,
    $hide-inactive-labels: true
  );

  svg,
  path {
    pointer-events: none;
  }
}
