@import "~material-bottom-nav";
@import "../../styles/helper";

.bottom-nav {
  @include bottom-nav(
    $background-color: #000,
    $active-color: $PRed,
    $inactive-color: #e0e0e0,
    $hide-inactive-labels: true
  );

  a {
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $PRed;
    }
  }

  i,
  span {
    font-size: 30px;
    pointer-events: none;
  }
}
